<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Location
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical = "bottom" horizontal = "center" slot = "fixed" (click) = "getLocationCoordinates()" id="open-toast" expand="block">
    <ion-fab-button>
      <ion-icon name = "location">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-toast trigger="open-toast" message="{{lat()}} : {{long()}}" [duration]="5000"></ion-toast>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
